In [13]:
#!/usr/bin/python

In [35]:
#Now reload in Pandas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

DATANSW=pd.read_csv(r'C:\Users\anaal\DATANSW.csv')
DATAQLD=pd.read_csv(r'C:\Users\anaal\DATAQLD.csv')
DATANSW['settlementdate']=pd.to_datetime(DATANSW['settlementdate'],dayfirst=True )

#dataDemand['settlementdate']=pd.to_datetime(dataDemand['settlementdate'],dayfirst=True )


DATAQLD['settlementdate']=pd.to_datetime(DATAQLD['settlementdate'],dayfirst=True )
DATANSW= DATANSW.sort_values(by="settlementdate")
DATANSW.drop_duplicates(inplace=True)
DATAQLD.drop_duplicates(inplace=True)
DATAQLD=DATAQLD.sort_values(by="settlementdate")
print(DATANSW.shape)
print(DATAQLD.shape)
merged_data =pd.merge(left=DATAQLD, right=DATANSW, left_on='settlementdate', right_on='settlementdate')
merged_data.drop_duplicates(inplace=True)
print(merged_data.shape)
#merged_data=pd.concat([DATAQLD,DATANSW],axis=1)
print(merged_data.head())
#merged_data.to_csv(r'C:\Users\anaal\DATASETApriltest3.csv')
#Do a merge on settlement data- then prepare the data with the split

(180872, 126)
(180872, 126)
(180872, 251)
       settlementdate  runno_x regionid_x  intervention_x     rrp_x  eep_x  \
0 2019-06-09 00:05:00        1       QLD1               0  73.04979    0.0
1 2019-06-09 00:10:00        1       QLD1               0  77.44482    0.0
2 2019-06-09 00:15:00        1       QLD1               0  77.73004    0.0
3 2019-06-09 00:20:00        1       QLD1               0  77.39365    0.0
4 2019-06-09 00:25:00        1       QLD1               0  76.70402    0.0

      rop_x  apcflag_x  marketsuspendedflag_x  totaldemand_x  ...  \
0  73.04979          0                      0        5756.78  ...
1  77.44482          0                      0        5762.13  ...
2  77.73004          0                      0        5725.16  ...
3  77.39365          0                      0        5688.49  ...
4  76.70402          0                      0        5640.21  ...

   raise6secactualavailability_y  raise60secactualavailability_y  \
0                      169.26258                       218.73756
1                      175.00000                       267.00000
2                      175.00000                       267.00000
3                      175.00000                       267.00000
4                      175.00000                       267.00000

   raise5minactualavailability_y  raiseregactualavailability_y  \
0                      462.73756                    137.843893
1                      519.10633                    121.259542
2                      535.00000                    145.079149
3                      535.00000                    145.773460
4                      535.00000                    146.428094

   lower6secactualavailability_y  lower60secactualavailability_y  \
0                          280.0                           420.0
1                          446.0                           586.0
2                          446.0                           586.0
3                          446.0                           586.0
4                          446.0                           586.0

   lower5minactualavailability_y  lowerregactualavailability_y  lorsurplus_y  \
0                          230.0                     56.670325           NaN
1                          296.0                     83.000024           NaN
2                          296.0                     82.843774           NaN
3                          296.0                     64.863695           NaN
4                          296.0                     76.382947           NaN

   lrcsurplus_y
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN

[5 rows x 251 columns]

In [29]:
DATA=pd.read_csv(r'C:\Users\anaal\DATASET4.csv')
print(DATA.shape)
DATA.drop_duplicates()
print(DATA.shape)

(228788, 251)
(228788, 251)

In [36]:
#def function split time stamp
def  split_time_stamp(table):
## split time stamp
    table['Dates'] = pd.to_datetime(table['settlementdate'],dayfirst=True).dt.date
    table['Time'] = pd.to_datetime(table['settlementdate'],dayfirst=True).dt.time
    table['year'] = pd.DatetimeIndex(table['Dates'],dayfirst=True).year
    table['month'] = pd.DatetimeIndex(table['Dates'],dayfirst=True).month
    table['day_of_week'] = pd.DatetimeIndex(table['Dates'],dayfirst=True).dayofweek
    return table

In [37]:
demandData=merged_data
demandData=split_time_stamp(demandData)

In [38]:
def time_to_num(time_str):
    hh,mm,ss=map(int,time_str.split(':'))
    return (mm+60*hh)/5

In [39]:
print(demandData.shape)
demandData.dropna(axis=1,how='any',inplace=True)
print(demandData.shape)
print(demandData.shape)
demandData['rrpOneForward'] = demandData['rrp_x'].shift(-1)
demandData['rrpTwoForward'] = demandData['rrp_x'].shift(-2)
demandData['rrpOneBack']=demandData['rrp_x'].shift(1)
demandData['rrpTwoBack']=demandData['rrp_x'].shift(2)
demandData['rrpOneBackNSW']=demandData['rrp_y'].shift(1)
demandData['rrpTwoBackNSW']=demandData['rrp_y'].shift(2)
demandData=demandData.dropna()

print(demandData.shape)

(180872, 256)
(180872, 124)
(180872, 124)
(180868, 130)

In [42]:
demandData.head()

,settlementdate,runno_x,regionid_x,intervention_x,rrp_x,eep_x,rop_x,apcflag_x,marketsuspendedflag_x,totaldemand_x,...,year,month,day_of_week,rrpOneForward,rrpTwoForward,rrpOneBack,rrpTwoBack,rrpOneBackNSW,rrpTwoBackNSW,newTime
2,2019-06-09 00:15:00,1,QLD1,0,77.73004,0.0,77.73004,0,0,5725.16,...,2019,6,6,77.39365,76.70402,77.44482,73.04979,87.0000,82.63841,3
3,2019-06-09 00:20:00,1,QLD1,0,77.39365,0.0,77.39365,0,0,5688.49,...,2019,6,6,76.70402,71.74000,77.73004,77.44482,87.0000,87.00000,4
4,2019-06-09 00:25:00,1,QLD1,0,76.70402,0.0,76.70402,0,0,5640.21,...,2019,6,6,71.74000,75.75269,77.39365,77.73004,87.0000,87.00000,5
5,2019-06-09 00:30:00,1,QLD1,0,71.74000,0.0,71.74000,0,0,5573.60,...,2019,6,6,75.75269,71.72999,76.70402,77.39365,86.8465,87.00000,6
6,2019-06-09 00:35:00,1,QLD1,0,75.75269,0.0,75.75269,0,0,5575.50,...,2019,6,6,71.72999,71.73002,71.74000,76.70402,81.8073,86.84650,7

In [40]:
# now generate a time sequence from the time colum
demandData['newTime']=demandData['Time'].astype('str')
j=demandData.columns.get_loc('newTime')
print(j)
for i in range(0,demandData.shape[0]):
   
    demandData.iloc[i,j]=time_to_num(demandData.iloc[i,j])

print('done')

demandData.head(5)

C:\Users\anaal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\anaal\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

130
done

,settlementdate,runno_x,regionid_x,intervention_x,rrp_x,eep_x,rop_x,apcflag_x,marketsuspendedflag_x,totaldemand_x,...,year,month,day_of_week,rrpOneForward,rrpTwoForward,rrpOneBack,rrpTwoBack,rrpOneBackNSW,rrpTwoBackNSW,newTime
2,2019-06-09 00:15:00,1,QLD1,0,77.73004,0.0,77.73004,0,0,5725.16,...,2019,6,6,77.39365,76.70402,77.44482,73.04979,87.0000,82.63841,3
3,2019-06-09 00:20:00,1,QLD1,0,77.39365,0.0,77.39365,0,0,5688.49,...,2019,6,6,76.70402,71.74000,77.73004,77.44482,87.0000,87.00000,4
4,2019-06-09 00:25:00,1,QLD1,0,76.70402,0.0,76.70402,0,0,5640.21,...,2019,6,6,71.74000,75.75269,77.39365,77.73004,87.0000,87.00000,5
5,2019-06-09 00:30:00,1,QLD1,0,71.74000,0.0,71.74000,0,0,5573.60,...,2019,6,6,75.75269,71.72999,76.70402,77.39365,86.8465,87.00000,6
6,2019-06-09 00:35:00,1,QLD1,0,75.75269,0.0,75.75269,0,0,5575.50,...,2019,6,6,71.72999,71.73002,71.74000,76.70402,81.8073,86.84650,7

In [43]:
#dataAux=demandData
#dataAux2=demandData
#dataAux3=demandData
demandData.to_csv(r'C:\Users\anaal\DATASET3.csv')

In [69]:
demandData=dataAux

In [91]:
pd.date_range(start = '2019-06-09', end = '2021-03-01' ).difference(demandData.Dates.unique())

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [89]:
pd.date_range(start = '2019-06-09', end = '2021-03-01' ).difference(demandData.Dates.unique())

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [87]:
demandData.isna()

,settlementdate,runno_x,regionid_x,intervention_x,rrp_x,eep_x,rop_x,apcflag_x,marketsuspendedflag_x,totaldemand_x,...,year,month,day_of_week,rrpOneForward,rrpTwoForward,rrpOneBack,rrpTwoBack,rrpOneBackNSW,rrpTwoBackNSW,newTime
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228781,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
228782,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
228783,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
228784,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
228785,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [88]:
dataDemand['quarters']=pd.cut(dataDemand['month'],bins=[1,4,8, 10,12],include_lowest=True,right=False, labels=['first','second','third','fourth'])
dataDemand['weekclass']=pd.cut(dataDemand['day_of_week'],bins=[-1,0,4, 5,6],include_lowest=False,right=True, labels=['Monday','Midweek','Saturday','Sunday'])
dataDemand['classesAUD']=pd.cut(dataDemand['rrpOneForward'],bins=[-1000,0,32,60,100,15001],include_lowest=True,right=False, labels=['negative','L','normal','high','spike'])


dataDemand['timeClass']=pd.cut(dataDemand['newTime'],bins=[0,50,120,180,250,288],include_lowest=True,right=False, labels=['low','M1','high','M2','low2'])
#print(merged_data['timeClass'])

dataDemand['RM']=dataDemand.clearedsupply_x/dataDemand.availablegeneration_x

dataDemand['RMNSW']=dataDemand.clearedsupply_y/dataDemand.availablegeneration_y
dataDemand['RMNSWOneBack']=dataDemand['RMNSW'].shift(1)
dataDemand['RMOneback']=dataDemand['RM'].shift(1)
dataDemand.dropna(inplace=True)
#rename the classes in timeClass
dataDemand['timeClass']=dataDemand['timeClass'].replace('low2','low')

data_encoded1=pd.get_dummies(dataDemand['quarters'],prefix='quarters')
data_encoded2=pd.get_dummies(dataDemand['weekclass'],prefix='weekclass')
data_encoded3=pd.get_dummies(dataDemand['classesAUD'],prefix='classesAUD')
data_encoded4=pd.get_dummies(dataDemand['timeClass'],prefix='timeClass')
dataDemand['newTime']=dataDemand['newTime'].astype(float)
dataDemand['sinTime']=np.sin(dataDemand.newTime*(2.*np.pi/288))
dataDemand['cosTime']=np.cos(dataDemand.newTime*(2.*np.pi/288))

datafinal=pd.concat([dataDemand,data_encoded1,data_encoded2,data_encoded3,data_encoded4],axis=1)
print(dataDemand['RM'],dataDemand['rrp_x'])

7         0.576273
8         0.571563
9         0.564592
10        0.565000
11        0.563492
            ...
228781    0.585920
228782    0.583350
228783    0.583007
228784    0.582608
228785    0.583703
Name: RM, Length: 184401, dtype: float64 7         77.39365
8         76.70402
9         71.74000
10        75.75269
11        71.72999
            ...
228781    38.11252
228782    37.82015
228783    37.83561
228784    37.83720
228785    37.95008
Name: rrp_x, Length: 184401, dtype: float64

In [90]:
demandData['Dates'] = pd.to_datetime(demandData['Dates']).dt.date

C:\Users\anaal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [93]:
dataDemand['settlementdate']=pd.to_datetime(dataDemand['settlementdate'],dayfirst=True )
dataDemand = dataDemand .sort_values(by="settlementdate")
#dataDemand.head(-500)
dataDemand.to_csv(r'C:\Users\anaal\DATASETApril.csv')